<input type="checkbox" id="cat1" name=category value="Library" {{"checked" if "Library" in curr_cat}}>
<label for="cat1">Library</label><br>
<input type="checkbox" id="cat2" name=category value="Outdoors" {{"checked" if "Outdoors" in curr_cat}}>
<label for="cat2">Outdoors</label><br>
<input type="checkbox" id="cat3" name=category value="Food" {{"checked" if "Food" in curr_cat}}>
<label for="cat3">Food</label><br>
<input type="checkbox" id="cat4" name=category value="Study Space" {{"checked" if "Study Space" in curr_cat}}>
<label for="cat4">Study Space</label><br>
<input type="checkbox" id="cat5" name=category value="Art" {{"checked" if "Art" in curr_cat}}>
<label for="cat5">Art</label><br>
<input type="checkbox" id="cat6" name=category value="Dormitory" {{"checked" if "Dormitory" in curr_cat}}>
<label for="cat6">Dormitory</label><br>
<input type="checkbox" id="cat7" name=category value="Fun" {{"checked" if "Fun" in curr_cat}}>
<label for="cat7">Fun</label><br>
<input type="checkbox" id="cat8" name=category value="Classroom" {{"checked" if "Classroom" in curr_cat}}>
<label for="cat8">Classroom</label><br>
<input type="checkbox" id="cat9" name=category value="Sports/Exercise" {{"checked" if "Sports/Exercise" in curr_cat}}>
<label for="cat9">Sports/Exercise</label><br>
