What's going on in this post? <br><br>
<input type="radio" id="opt1" name="reason" value="I'm in this picture and I don't like it">
<label for="opt1">I'm in this picture and I don't like it</label><br>
<input type="radio" id="opt2" name="reason" value="It's inappropriate or violent">
<label for="opt2">It's inappropriate or violent</label><br>
<input type="radio" id="opt3" name="reason" value="It's misleading or inaccurate">
<label for="opt3">It's misleading or inaccurate</label><br>
<input type="radio" id="opt4" name="reason" value="It's spam">
<label for="opt4">It's spam</label><br>
