What's going on with this pin? <br><br>
<input type="radio" id="opt1" name="reason" value="It's in the wrong location">
<label for="opt1">It's in the wrong location</label><br>
<input type="radio" id="opt2" name="reason" value="The description is inappropriate or violent">
<label for="opt2">The description is inappropriate or violent</label><br>
<input type="radio" id="opt3" name="reason" value="The description is misleading or inaccurate">
<label for="opt3">The description is misleading or inaccurate</label><br>