<!DOCTYPE html>
<!-- Source: https://github.com/StartBootstrap/startbootstrap-creative.git -->
<html lang="en">
    <head>
      {% include 'header.html' %}
    </head>
    <body id="page-top" style="padding-top: 77px">
        <!-- Navigation-->
        <header>
          <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3"
          id="secondaryNav" style="background-color: #fff">
              <div class="container">
                  <a class="navbar-brand js-scroll-trigger"
                  href="/">PrincetonPlaces</a>
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                      <ul class="navbar-nav ml-auto my-2 my-lg-0">
                         <li class="nav-item"><a class="nav-link
                         js-scroll-trigger" href="logout">Log Out</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
        </header>
        <br>
        <section class="page-section" id="pin_info" style="padding-top: 20px;
          padding-bottom: 20px;">
            <div class="container">
        <!-- Map -->
        <div id="map_section" class="bg-primary" style="padding-top: 15px; padding-bottom: 15px;
        height: calc(65vh)">
          <section class="page-section bg-primary" id="map" style="margin-left:
          15px; margin-right: 15px; height: 100%">
            {% include 'maptour.html' %}
          </section>
        </div>
        <br>
                <form id="tour" class="form-group" action="create_tour" method="post">
                  <label for="descrip">Name of Tour: </label>
                  <input type="text" name="descrip"><br>
                  <button type="submit" class="btn btn-primary">Save</button>
                </form>
                <b>Start: </b>
                  <select id="start" name="start" form="tour">
                    {% for pin in pins: %}
                      <option value="{{pin.getX()}} {{pin.getY()}}">{{pin.getDescrip()}}</option>
                    {% endfor %}
                  </select>
                  <br>
                  <b>Stops in the middle: </b>
                  <p>Control+Click or Command+Click for mulitple selection</p>
                  <p>Choose up to 6 points.</p>
                  <select multiple id="waypoints" name="waypoints" form="tour">
                    {% for pin in pins: %}
                      <option value="{{pin.getX()}} {{pin.getY()}}">{{pin.getDescrip()}}</option>
                    {% endfor %}
                  </select>
                  <br>
                  <b>End: </b>
                  <select id="end" name="end" form="tour">
                    {% for pin in pins: %}
                      <option value="{{pin.getX()}} {{pin.getY()}}">{{pin.getDescrip()}}</option>
                    {% endfor %}
                  </select>
                </div>
              </section>
        {% include 'footer.html' %}
        <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBALg7pjYcrHs0rof4TKndChN8IT2JH5es&callback=initMap">
        </script>
    </body>
</html>
